* {
  box-sizing: inherit;
}

/* ELEMENTS */

body,
html {
  min-height: 100%;
}

body {
  height: 807px;
  background-color: white !important;
  font-family: 'SF UI Text', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0 !important;
  padding-top: 0px !important;
  line-height: 1.6875rem;
  text-size-adjust: 100%;
  overflow-x: hidden;
  color: var(--bb-body-text-color);
}

html {
  height: 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  box-sizing: border-box;
}

div {
  border-radius: 0;
}

nav {
  font-size: 1em;
  display: block;
}

ul {
  padding: 0;
  box-sizing: border-box;
}

li {
  border-radius: 0;
}

img {
  border: 0;
  font-style: italic;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  color: var(--bb-primary-color);
  outline: 0;
  text-decoration: none;
  background-color: transparent;
}

section {
  display: block;
}

h2 {
  font-weight: normal;
  font-style: normal;
  margin: 0 0 1.6875rem;
  padding: 0;
}

p {
  font-family: 'SF UI Tex', sans-serif;
  color: #2a2a2a;
  font-size: 18px;
  margin: 0 0 1.6875rem;
  padding: 0;
  // line-height: 1.5em;
}

/* VARIABLES */

:root {
  --vfcBlue: #0000ff;
  --bb-button-radius: 100px;
  --bb-primary-color: #0000ff;
  --bb-primary-button-text-regular: #ffffff;
  --bb-primary-button-border-regular: #385dff;
  --bb-body-text-color: #4d5c6d;
  --bb-primary-button-background-regular: #385dff;
}

/* FONTS */

@font-face {
  font-family: 'SF UI Text';
  src:
    url('../../public/SFUIText\ Regular.woff') format('woff'),
    url('../../public/SFUIText\ Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Frequency';
  src:
    url('../../public/Frequency.woff2') format('woff2-variations'),
    url('../../public/Frequency.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frequency_Variable';
  src:
    url('../../public/Frequency-Variable.woff2') format('woff2-variations'),
    url('../../public/Frequency-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
