@import url('https://path-to-your-font/SF-UI-Text.css');

* {
  box-sizing: inherit;
}

/* BODY STYLING */
body,
html {
  min-height: 100%;
}

body {
  background-color: white !important;
  font-family: 'SF UI Text', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0 !important;
  padding-top: 0px !important;
  height: 295px; /*element-style*/
}

html {
  height: 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  box-sizing: border-box;
}

div {
  border-radius: 0;
}

nav {
  font-size: 1em;
}

// nav span {
//   position: relative;
//   top: 1em;
// }

ul {
  padding: 0;
  box-sizing: border-box;
}

li {
  border-radius: 0;
}

img {
  border: 0;
  font-style: italic;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: var(--bb-primary-color);
  outline: 0;
  text-decoration: none;
  background-color: transparent;
}

button {
  text-transform: none;
  overflow: visible;
  margin: 0;
}

:root {
  --bb-primary-color: #0000ff;
}
